html {
    scroll-behavior: smooth !important;
	cursor: url('donnormancursor.png') !important;
}

/* || Typography */

/* Source Serif Pro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/*PP Editorial New*/
@font-face {
	font-family: 'PP Editorial New';
	src: url('PPEditorialNew-Thin.woff2') format('truetype');
	font-weight: 100;
 }

@font-face {
	font-family: 'PP Editorial New';
	src: url('PPEditorialNew-Ultralight.woff2') format('truetype');
	font-weight: 200;
 }

 @font-face {
	font-family: 'PP Editorial New';
	src: url('PPEditorialNew-Regular.woff2') format('truetype');
	font-weight: 400;
 }

 @font-face {
	font-family: 'PP Editorial New';
	src: url('PPEditorialNew-Bold.woff2') format('truetype');
	font-weight: 700;
 }

/* || TOP OF THE PAGE*/

/*text bar at the top*/

#textbox {display:flex; flex-flow:row wrap;}

.alignleft {
width:27%;
text-align:left;
}
.aligncenter {
width:46%;
text-align:center;
}
.alignright {
width:27%;
text-align:right;
}

/*LINES*/

.line {
	border-top: 1px solid black;

 }

.line1 {
	border-top: 1px solid black;
	width: 200px;
	padding:0px;
	margin:auto;
 }

span.keeptogether {
	white-space: nowrap ;
  }

p.solid {
	border: 1px solid black;
	padding: 15px;
}

nav{
	position: sticky;
	top: 50px;
}

.pill{
	font-family: 'PP Editorial New', sans-serif;
	font-weight: 200;
	font-style: italic;
	font-size: 40px;
	padding: 0.5em 1em;
	margin:0.25em;
	margin-left:10vw;
	border-radius: 1.5em;
	border: 1px solid black;
	background: rgb(240, 240, 240);
	cursor: pointer;

}

.pill:hover {
	background: black;
	color:white;
	cursor: url("assets/donnormancursor.png"), auto!important;
}

header {
	text-align: center;
	margin-bottom: 30px;
	
}
main {
	padding:48px;
	max-width: 600px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }

main {
    display: table; 
    margin: -190px 15vw 100px auto;
    padding:50px;
	background-color:white;
}
body{
	background-color: rgb(240, 240, 240);
}

/*Text stuff*/
p {
	font-family: 'Source Serif Pro', serif;
	font-weight: 400;
	text-align: justify;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: -0.005em;
}

H1 {
	font-family: 'PP Editorial New', sans-serif;
	font-weight: 400;
	font-size: 70px;
	line-height: 110%;
	letter-spacing: -0.05em;
}

H2 {
	font-family: 'PP Editorial New', sans-serif;
	font-weight: 200;
	font-size: 35px;
	font-style: italic;
	
}

h3:before {
	content: '—'
}

H3 {
	color: #4152EC;
	font-family: 'PP Editorial New', sans-serif;
	font-weight: 200;
	font-style: italic;
	font-size: 25px;
	margin-top: 40px;
	margin-bottom:5px;
}

H4 {
	font-family: 'PP Editorial New', sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 3px;
	margin-bottom: 0px;
}
H5 {
	font-family: 'PP Editorial New', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 3px;
	margin-bottom: 0px;
	font-style: italic;
}

/*Links*/

a {
	text-decoration: #4152EC underline 1px;
	text-underline-offset: 3px;
}
a:visited {
	color: #4152EC;
}
a:hover {
	color: #e86a92;
	cursor: url("assets/donnormancursor.png"), auto !important;
	
}
